##############################
## Folders                  ##
##############################
venv
.idea
static/img

##############################
## conf                     ##
##############################
server.conf
*.pyc