##############################
## Folders                  ##
##############################
venv
.idea

##############################
## conf                     ##
##############################
server.conf
*.pyc